<app-navigation-bar></app-navigation-bar>

<div class="container mt-5">
    <div class="columns is-vcentered is-multiline">
        <!-- Bild -->
        <div class="column is-12-mobile is-narrow-tablet is-flex is-justify-content-center">
            <figure class="image is-128x128">
                <img class="is-rounded" src="../../../assets/images/benjamin.jpg" />
            </figure>
        </div>

        <!-- Text -->
        <div class="column is-12-mobile is-8-tablet">
            <h1 class="title">Hello</h1>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
                amet,
                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
                erat,
                sed diam voluptua. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie
                consequat,
                vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
                praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
        </div>
    </div>

    <div class="columns is-multiline mt-5">
        <div class="column is-12">
            <h1 class="title">Career Path</h1>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et
                dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Duis autem vel eum iriure
                dolor
                in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at
                vero
                eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore
                te
                feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
            </p>
        </div>
    </div>

    <div class="columns is-multiline mt-5">
        <div class="column is-12">
            <app-education-path></app-education-path>
        </div>
    </div>

    <div class="columns is-multiline mt-5">
        <div class="column is-12 is-flex is-justify-content-center">
            <button class="button is-info" (click)="downloadFile()">Download Datei</button>
        </div>
    </div>
</div>

<app-myfooter></app-myfooter>
