<!-- <div class="container">
    <h1 class="title is-2">Feedback Formular</h1>
    <form (ngSubmit)="onSubmit()" #feedbackForm="ngForm">
      <div class="field">
        <label class="label" for="name">Name</label>
        <div class="control">
          <input class="input" id="name" name="name" type="text" [(ngModel)]="model.name" required>
        </div>
      </div>
  
      <div class="field">
        <label class="label" for="email">E-Mail</label>
        <div class="control">
          <input class="input" id="email" name="email" type="email" [(ngModel)]="model.email" required>
        </div>
      </div>
  
      <div class="field">
        <label class="label" for="message">Dein Feedback</label>
        <div class="control">
          <textarea class="textarea" id="message" name="message" [(ngModel)]="model.message" required></textarea>
        </div>
      </div>
  
      <div class="field">
        <div class="control">
          <button class="button is-primary" type="submit" [disabled]="!feedbackForm.form.valid">Absenden</button>
        </div>
      </div>
    </form>
  </div>
   -->
  