<div>
  <nav class="level has-background-danger" style="padding: 20px;">
      <p class="level-item has-text-centered">
        <a class="link has-text-white" routerLink="/">Home</a>
      </p>
      <p class="level-item has-text-centered">
        <a class="link has-text-white" routerLink="/about">About Me</a>
      </p>
      <p class="level-item has-text-centered">
        <!-- TODO: Passende Größe für Logo machen -->
        <img
          src="../../../assets/Logo/Logo1.svg"
          alt=""
          style="height: 30px"
        />
      </p>
      <p class="level-item has-text-centered">
        <a class="link has-text-white" routerLink="/projects">Projects</a>
      </p>
      <p class="level-item has-text-centered">
        <a class="link has-text-white">Contact</a>
      </p>
    </nav>          
</div>
