<div>
  <nav class="level has-background-info"
    style="padding: 20px; height: 70px; display: flex; justify-content: space-between; align-items: center;">
    <p class="level-item has-text-centered">
      <a class="link has-text-white" routerLink="/">Home</a>
    </p>
    <p class="level-item has-text-centered">
      <a class="link has-text-white" routerLink="/about">About Me</a>
    </p>

    <!-- Logo Container -->
     <!--scale the svg directly and customize margins-->
      <a routerLink="/">
        <img src="../../../assets/Logo/suljevic.svg" style="scale: 45%; margin: 5px 0 10px;"/>
      </a>

    <p class="level-item has-text-centered">
      <a class="link has-text-white" routerLink="/projects">Projects</a>
    </p>
    <p class="level-item has-text-centered">
      <a class="link has-text-white" routerLink="/contact">Contact</a>
    </p>
  </nav>
</div>
