<app-navigation-bar/>

<section class="section">
    <div class="container">
        <h1 class="title">Kontakt</h1>
        <div class="box">
            <p class="subtitle">
                <strong>Email:</strong>
                <a href="mailto:benjamin.suljevic05@gmail.com"> benjamin.suljevic05&#64;gmail.com</a>
            </p>
            <div class="buttons">
                <a class="button is-link" href="https://www.linkedin.com/in/benjamin-suljevic-9376b031b/" target="_blank">
                    <!-- <fa-icon [icon]="faLinkedin"></fa-icon> -->
                    <span>LinkedIn</span>
                </a>
                <a class="button is-dark" href="https://github.com/Benjamin-Bs" target="_blank">
                    <!-- <fa-icon [icon]="faGithub"></fa-icon> -->
                    <span>GitHub</span>
                </a>
            </div>
        </div>
    </div>
</section>

<app-myfooter/>
