<app-navigation-bar />

<div class="container">
    <h1 class="title">Welcome to Suljevic.at</h1>

    <p>Willkommen auf Suljevic.at! Dies ist meine persönliche Webseite, erstellt mit Angular und dem CSS-Framework
        Bulma.
        Hier finden Sie nicht nur meine GitHub-Projekte, sondern auch eine kurze Vorstellung meiner Person sowie meines
        Werdegangs.</p>

        
        
    <div class="skeleton-lines">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <div>
        <app-donate />
    </div>

    <div>
        <app-settings />
    </div>

    <div class="mt-5">
        <h1 class="subtitle">Progress for Suljevic.at</h1>
        <progress class="progress is-info" value="15" max="100"></progress>
    </div>
</div>

<app-myfooter />