<app-navigation-bar />

<div class="container mt-5">
    <!-- TODO: Design muss noch geändert werden -->
    <section class="section">
        <div class="container">
            <h1 class="title">Meine GitHub-Projekte</h1>
            <div class="columns is-multiline">
                <!-- Nur die sichtbaren Repositories anzeigen -->
                <div class="column is-one-third" *ngFor="let repo of repositories | slice:0:visibleCount">
                    <div class="card">
                        <div class="card-content">
                            <p class="title">{{ repo.name }}</p>
                            <p class="subtitle">{{ repo.description }}</p>
                        </div>
                        <footer class="card-footer">
                            <a href="{{ repo.html_url }}" class="card-footer-item" target="_blank">Repository
                                ansehen</a>
                        </footer>
                    </div>
                </div>
            </div>
            <!-- Button, um mehr anzuzeigen -->
            <div class="is-flex is-justify-content-center mt-4">
                <button class="button is-info" (click)="showMore()" *ngIf="visibleCount < repositories.length">
                    Show more
                </button>
            </div>
        </div>
    </section>
</div>

<div class="container mt-5">
    <h1 class="title">Diploma thesis</h1>
    <p>In diesem Projekt wurde eine webbasierte Anwendung zur Verwaltung von Einsatzteams entwickelt, die es ermöglicht,
        GPS-Positionen der Teammitglieder in Echtzeit auf interaktiven Karten darzustellen und in Squads
        zusammenzufassen. Über RabbitMQ werden die Positionsdaten sicher an ein Java-Backend übertragen und in einer
        Cassandra-Datenbank performant gespeichert. Ein Keycloak-Server übernimmt Authentifizierung und Autorisierung,
        während REST- und WebSocket-Schnittstellen die bidirektionale Kommunikation zwischen Backend und
        Angular-Frontend gewährleisten. Die Benutzeroberfläche bietet Funktionen wie Login, Chat, Gruppenverwaltung
        sowie Zeichen- und Markierungswerkzeuge zur Festlegung von Einsatzgebieten. Ergänzt wird das System durch einen
        Testclient, der die Übertragung von GPS-Daten simuliert.</p>
    <h2 class="subtitle mt-5">Geo-Tracking-Solution</h2>

   <div class="responsive-video">
    <iframe
      src="https://www.youtube.com/embed/q4mrugzoioo"
      title="GeoTracking Solution"
      allowfullscreen
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin">
    </iframe>
  </div>
</div>


<div class="container mt-5">
    <h1 class="title">Technologies</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, eveniet. Necessitatibus, commodi quasi! Aut
        repellat maxime deserunt odit voluptatem, nesciunt explicabo voluptatibus aperiam, eos rerum esse temporibus
        doloribus doloremque error.</p>

    <diV class="mt-5">
        <app-technologies />
    </diV>
</div>

<app-myfooter />
