<div class="columns is-mobile is-centered is-vcentered">
    <div class="column is-2">
        <a href="https://angular.dev/" alt="Link to Angular">
            <div class="icon-container box has-text-centered">
                <i class="fab fa-angular" style="color: red;"></i>
            </div>
        </a>
    </div>
    <div class="column is-2">
        <a href="https://nodejs.org/en" alt="Link to Node.js">
            <div class="icon-container box has-text-centered">
                <i class="fab fa-node" style="color: green;"></i>
            </div>
        </a>
    </div>
    <div class="column is-2">
        <div class="icon-container box has-text-centered">
            <i class="fab fa-git"></i>
        </div>
    </div>
    <div class="column is-2">
        <div class="icon-container box has-text-centered">
            <i class="fab fa-github"></i>
        </div>
    </div>
    <div class="column is-2">
        <a href="https://www.java.com/en/" alt="Link to Java">
            <div class="icon-container box has-text-centered">
                <i class="fab fa-java" style="color: orange;"></i>
            </div>
        </a>
    </div>
    <div class="column is-2">
        <a href="https://www.python.org/" alt="Link to Python">
            <div class="icon-container box has-text-centered">
                <i class="fab fa-python" style="color: yellow;"></i>
            </div>
        </a>
    </div>
</div>
