<div class="columns is-mobile is-centered is-vcentered">
    <div class="column is-2">
        <div class="icon-container box has-text-centered">
            <i class="fab fa-angular"></i>
        </div>
    </div>
    <div class="column is-2">
        <div class="icon-container box has-text-centered">
            <i class="fab fa-node"></i>
        </div>
    </div>
    <div class="column is-2">
        <div class="icon-container box has-text-centered">
            <i class="fab fa-git"></i>
        </div>
    </div>
    <div class="column is-2">
        <div class="icon-container box has-text-centered">
            <i class="fab fa-github"></i>
        </div>
    </div>
</div>